.navigate-back {
    font-size: xx-large;
    margin-bottom: 18px;
    padding-left: 22px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 291px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: #f4f4f4;
    font-size: 16px;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 14px;
    color: #abacac;
    padding-left: 2px;
}

.primary-btn {
    background-color: #ffc107;
}

.primary-btn:hover {
    background-color: #ffca2c;
}

.secondary-btn {
    background-color: #0d6efd;
}

.secondary-btn:hover {
    background-color: #0b5ed7;
}

button {
    width: 300px;
    height: 43px;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
    border-radius: 7px;
    /* box-shadow: -3px 3px 14px gray; */
}
